<% if @order_items.any? %>
  <% number_items_ttl = 0 %>
  <% @order_items.each do |oi| %>
    <% number_items_ttl += oi.quantity %>
    <div id="cart_item_<%= oi.id %>">
      <h3><%= oi.product.item %></h3>
      <p> Unit Price: <%= number_to_currency oi.product.price %> | Quantity: <%= oi.quantity %> | Total Price: <%= number_to_currency (oi.product.price * oi.quantity) %></p>
      <p><%= link_to "Delete", order_item_path(oi), :data => {:confirm => "You sure?", :method => "delete"}, remote: true %></p>
      <hr>
    </div>
  <% end %>
  <p>Number of items total: <span class="cart-quantity"><%= cart_values[0] %></span></p>
  <p>Your Total: <span class="cart-price"><%= number_to_currency cart_values[1] %></span></p>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
